################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/spaceship.venv
/__pycache__
/starship
/.vs/StarShip/v16
/.vs
/.vscode
/savedModels
/conda-Starship.code-workspace
/.history
/env-01
/logs
/3CNN_modelsavedModels