################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/spaceship.venv
/__pycache__
/starship
/.vs/StarShip/v16
/.vs
/.vscode
/savedModels
/.history
/env-01
/3CNN_modelsavedModels 
tempCodeRunnerFile.py
DQN_Discrete.py
